body {
  font-family: "Bellota Text", cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header_page {
  width: 100%;
  height: 117px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header_page .logo {
    width: 291px;
    height: 77px;
    padding-left: 55px;
    padding-top: 20px; }
  .header_page .contacts {
    width: 350px;
    height: 117px;
    background: url(../img/ellipse.png) right center no-repeat, url(../img/second_ellipse.png) 88px no-repeat, url(../img/third_ellipse.png) 48px no-repeat, url(../img/fourth_ellipse.png) 8px no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .header_page .contacts .phones {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 220px;
      padding-right: 22px; }
      .header_page .contacts .phones a {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #29176B;
        text-decoration: none;
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
        -webkit-transition: color 0.5s;
        transition: color 0.5s; }
      .header_page .contacts .phones a:hover {
        color: #1c1142; }
      .header_page .contacts .phones a:active {
        text-decoration: underline; }

nav {
  height: 50px;
  padding: 0 122px; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    nav ul li {
      display: block;
      width: 224px;
      text-align: center; }
      nav ul li a {
        text-decoration: none;
        display: block;
        height: 100%;
        padding: 12px;
        color: #29176B;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s; }
      nav ul li a:hover {
        color: #e84c36;
        border-bottom: 1px solid #e84c36;
        text-decoration: none; }
      nav ul li a:active {
        color: lightgray; }

.banner {
  height: 625px;
  background: url(../img/ellipse_banner.png) 100% 50% no-repeat, url(../img/first_ellipse_banner.png) 80% 50% no-repeat, url(../img/second_ellipse_banner.png) 70% 50% no-repeat, url(../img/third_ellipse_banner.png) 60% 50% no-repeat, url(../img/fourth_ellipse_banner.png) 50% 50% no-repeat;
  background-color: #E84C36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner h1 {
    padding-left: 122px;
    min-width: 406px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
    text-transform: uppercase; }

.about {
  padding-top: 68px;
  padding-bottom: 80px; }
  .about .header_about {
    margin: 0 auto; }
  .about h2 {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 53px;
    text-transform: uppercase;
    width: 100%;
    text-align: center; }
  .about h3 {
    margin: 0 auto;
    text-align: center;
    padding-top: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px; }
  .about .figures {
    padding: 44px 0 65px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .about .figures .advantage {
      width: 140px;
      min-height: 257px;
      margin: 0 20px; }
      .about .figures .advantage .first_circle {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 1px solid #e84c36;
        position: relative; 
        transform: scale(.95);
        animation: pulse 4s ease-in-out infinite;}
      .about .figures .advantage .second_circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid #e84c36;
        position: absolute;
        top: 9px;
        left: 9px; }
      .about .figures .advantage .third_circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #e84c36;
        position: absolute;
        top: 9px;
        left: 9px; }
        .about .figures .advantage .third_circle .text {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100px;
          height: 100px;
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 35px;
          color: #fff; }
      .about .figures .advantage .descr {
        padding-top: 22px;
        text-align: center; }

.btn {
  background-color: #e84c36;
  border-radius: 10px;
  height: 59px;
  margin: 0 auto;
  padding: 0; }
  .btn a {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    color: #fff; }

.news {
  padding: 68px 0 80px 0;
  background: #8E2DE2;
  background: -webkit-gradient(linear, left top, right top, from(#4A00E0), to(#8E2DE2));
  background: linear-gradient(to right, #4A00E0, #8E2DE2); }
  .news_header {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 90px; }
    .news_header h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
      line-height: 53px;
      text-transform: uppercase;
      color: #fff; }
  .news_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0; }
    .news_one_image .big_circle {
      width: 225px;
      height: 225px;
      border-radius: 50%;
      border: 1px solid #e84c36;
      position: relative; 
      transform: scale(.95);
      animation: pulse 4s ease-in-out infinite;}
    @keyframes pulse {
      from {
        transform: scale(.95);
      }
      50% {
        transform: scale(1);
      }
      to {
        transform: scale(.95);
      }
    }
    .news_one_image .middle_circle {
      width: 205px;
      height: 205px;
      border-radius: 50%;
      border: 1px solid #e84c36;
      position: absolute;
      top: 9px;
      left: 9px; }
    .news_one_image .small_circle {
      width: 185px;
      height: 185px;
      border-radius: 50%;
      background: #e84c36 url(../img/saransk.bmp) 100% 50% no-repeat;
      background-size: 250px 185px;
      position: absolute;
      top: 9px;
      left: 9px; }
    .news_one_descr h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 35px;
      color: #FFFFFF;
      margin-bottom: 30px; }
    .news_one_descr p {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 29px;
      color: #FFFFFF; }
      .news_one_descr p a {
        text-decoration: none;
        color: #e84c36;
        font-weight: normal; }
  .news .second_news {
    background: #e84c36 url(../img/yurakova.png) 50% 30% no-repeat; }
  .news .third_news {
    background: #e84c36 url(../img/CCW.png) 50% 50% no-repeat;
    background-size: 225px 225px; }
  .news_one:nth-child(3) {
    margin-bottom: 70px; }

.clients {
  padding: 68px 0 60px 0; }
  .clients_header {
    margin: 0 auto; }
    .clients_header h2 {
      margin: 0 auto 62px auto;
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
      line-height: 53px;
      text-transform: uppercase;
      width: 100%;
      text-align: center; }
  .clients img {
    padding-top: 35px; }
  .clients .row:nth-last-child(2) {
    padding-bottom: 100px; }

.stories {
  padding: 68px 0 80px 0;
  background: #8E2DE2;
  background: -webkit-gradient(linear, left top, right top, from(#4A00E0), to(#8E2DE2));
  background: linear-gradient(to right, #4A00E0, #8E2DE2); }
  .stories_header {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 90px; }
    .stories_header h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
      line-height: 53px;
      text-transform: uppercase;
      color: #fff; }
  .stories .first_stories {
    background: #e84c36 url(../img/stories/lazareva.jpg) 50% 50% no-repeat; }
  .stories .second_stories {
    background: #e84c36 url(../img/stories/superviser.jpg) 50% 50% no-repeat; }
  .stories .third_stories {
    background: #e84c36 url(../img/stories/omar.png) 50% 50% no-repeat; }

footer {
  height: 165px;
  background: url(../img/footer/footer_ellipse_left.png) 0% 50% no-repeat, url(../img/footer/left_second_ellipse.png) 140px 50% no-repeat, url(../img/footer/left_third_ellipse.png) 180px 50% no-repeat, url(../img/footer/left_fourth_ellipse.png) 215px 50% no-repeat, url(../img/footer/right_ellipse_1.png) 100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  footer .social {
    width: 220px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 95px; }
    footer .social a {
      height: 30px; }
  footer .phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 220px;
    padding-right: 22px;
    padding-top: 45px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    footer .phones a {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #29176B;
      text-decoration: none;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      -webkit-transition: color 0.5s;
      transition: color 0.5s; }
    footer .phones a:hover {
      color: #1c1142; }
    footer .phones a:active {
      text-decoration: underline; }
  footer .logo_footer {
    padding-top: 65px; }

@media (max-width: 1199px) {
  footer {
    background: url(../img/footer/footer_ellipse_left.png) 0% 50% no-repeat, url(../img/footer/left_second_ellipse.png) 140px 50% no-repeat, url(../img/footer/left_third_ellipse.png) 180px 50% no-repeat, url(../img/footer/left_fourth_ellipse.png) 215px 50% no-repeat, url(../img/footer/right_ellipse_1.png) 100% 100% no-repeat } }
@media (max-width: 991px) {
  nav {
    padding: 0 50px; }

  .banner {
    background: url(../img/ellipse_banner.png) 100% 50% no-repeat, url(../img/first_ellipse_banner.png) 75% 50% no-repeat, url(../img/second_ellipse_banner.png) 65% 50% no-repeat, url(../img/third_ellipse_banner.png) 55% 50% no-repeat, url(../img/fourth_ellipse_banner.png) 46% 50% no-repeat;
    background-color: #E84C36; }

  .about h2 {
    font-size: 40px; }
  .about h3 {
    font-size: 25px; }

  .advantage {
    min-width: 145px; }

  .btn {
    width: 190px;
    height: 45px; }
    .btn a {
      font-size: 20px; }

  .news_header {
    padding-bottom: 30px; }
    .news_header h2 {
      font-size: 40px; }

  .news_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .news_one_image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .news_one_descr {
      text-align: center; }
      .news_one_descr h3 {
        margin-top: 15px; }

  .stories_header {
    padding-bottom: 30px; }

  footer {
    background: url(../img/footer/footer_ellipse_left.png) 0% 50% no-repeat, url(../img/footer/left_second_ellipse.png) 140px 50% no-repeat, url(../img/footer/left_third_ellipse.png) 180px 50% no-repeat, url(../img/footer/left_fourth_ellipse.png) 215px 50% no-repeat, url(../img/footer/right_ellipse_1.png) 100% 100% no-repeat } }
@media (max-width: 767px) {
  .header_page {
    height: 90px; }
    .header_page .contacts {
      background: url(../img/ellipse.png) right center no-repeat; }
    .header_page img {
      width: 150px;
      height: 45px; }
    .header_page .contacts {
      height: 90px; }

  .phones a {
    font-size: 16px; }

  nav {
    padding: 0; }

  .banner {
    height: 500px;
    background: url(../img/ellipse_banner.png) 100% 50% no-repeat, url(../img/first_ellipse_banner.png) 72% 50% no-repeat, url(../img/second_ellipse_banner.png) 60% 50% no-repeat, url(../img/third_ellipse_banner.png) 50% 50% no-repeat, url(../img/fourth_ellipse_banner.png) 41% 50% no-repeat;
    background-color: #E84C36; }
    .banner h1 {
      font-size: 60px;
      line-height: 70px; }

  .about .figures .advantage .descr {
    padding-top: 10px; }

  .news_header {
    padding-bottom: 10px; }
    .news_header h2 {
      font-size: 35px; }

  .news_one_image .big_circle {
    height: 210px;
    width: 210px; }
  .news_one_image .middle_circle {
    height: 190px;
    width: 190px; }
  .news_one_image .small_circle {
    height: 170px;
    width: 170px; }

  .news_one_descr h3 {
    font-size: 25px;
    margin-bottom: 12px; }
  .news_one_descr p {
    font-size: 15px; }

  .news_one:nth-child(3) {
    margin-bottom: 40px; }

  .clients_header h2 {
    font-size: 35px;
    margin-bottom: 15px; }

  .clients .row:nth-last-child(2) {
    padding-bottom: 70px; }

  .stories_header {
    padding-bottom: 10px; }
    .stories_header h2 {
      font-size: 35px; }

  footer {
    height: 130px;
    background: url(../img/footer/footer_ellipse_left.png) 0% 0% no-repeat, url(../img/footer/left_second_ellipse.png) 135px 10% no-repeat, url(../img/footer/left_third_ellipse.png) 170px 10% no-repeat, url(../img/footer/left_fourth_ellipse.png) 200px 10% no-repeat, url(../img/footer/right_ellipse_1.png) 100% 100% no-repeat }
    footer .social {
      padding-top: 70px;
      width: 200px; }
    footer .logo_footer {
      padding-left: 18px; }
      footer .logo_footer img {
        height: 45px;
        width: 150px; } }
@media (max-width: 575px) {
  .container {
    width: 100%; }

  .header_page .logo {
    padding-left: 20px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content; }
  .header_page .contacts {
    background: url(../img/ellipse.png) 0px -30px no-repeat;
    width: 120px; }
    .header_page .contacts .phones {
      padding: 0; }
      .header_page .contacts .phones a {
        font-size: 13px; }

  nav {
    display: none; }
    nav ul {
      font-size: 15px; }

  .banner {
    background: url(../img/ellipse_banner.png) 100% 50% no-repeat;
    background-color: #E84C36; }
    .banner h1 {
      padding-left: 20px;
      font-size: 40px; }

  footer {
    height: 130px;
    background: url(../img/footer/footer_ellipse_left.png) 0% 0% no-repeat, url(../img/footer/right_ellipse_1.png) 100% 100% no-repeat; }
    footer .logo_footer {
      display: none; }
    footer .phones {
      padding-right: 7px; } }
@media (max-width: 575px) {
  .header_page {
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .header_page img {
      width: 100px;
      height: 30px; }
    .header_page .logo {
      padding-left: 0;
      padding-top: 10px;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content; }
    .header_page .contacts {
      width: 100%;
      height: 45px;
      background: #fff; }
      .header_page .contacts .phones {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%; }
        .header_page .contacts .phones a {
          font-weight: 600; }
        .header_page .contacts .phones a:first-child {
          width: 50%;
          text-align: center; }
        .header_page .contacts .phones a:nth-child(2) {
          width: 50%;
          text-align: center; }

  .banner {
    background: url(../img/ellipse_banner.png) 100% 50% no-repeat;
    background-color: #E84C36; }
    .banner h1 {
      padding-left: 10px;
      font-size: 35px;
      line-height: 55px; }

  footer {
    min-height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .social {
      padding-top: 20px; }
      footer .social img {
        -webkit-filter: invert(100%);
                filter: invert(100%); }
    footer .phones {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0; }
      footer .phones a {
        color: #7361d8;
        font-weight: 600; } }

/*# sourceMappingURL=style.css.map */
